<ion-view>
  <ion-content class="padding setup">
    <h3 class="title">LOGIN</h3>
    <p class="error"> {{error}} </p>
    <a href="#/signup">Sign Up</a>
    
      <form name="logIn" ng-submit="submitLogIn(returningUser)">

        <div class="list">
          <label class="item item-input">
            <input type="email" name="email" class="form-control" ng-model="returningUser.email" ng-minlength="2" ng-maxlength="30" ng-required="true" placeholder="Email">
          </label>
          <label class="item item-input">
            <input type="password" name="password" class="form-control" ng-model="returningUser.password" ng-minlength="2" ng-maxlength="100" ng-required="true" placeholder="Password">
          </label>

        </div>
        <button type="submit" class="button button-block" ng-disabled="logIn.$invalid">Submit</button>
      </form>


  </ion-content>
</ion-view>
