<ion-view>
  <ion-content class="padding">
    <h3>Nightly Check In</h3>

    <p>We noticed you had some negative feelings today at:</p>

    <div class="card" ng-repeat="mood in moods">
      <div class="item item-text-wrap">
        {{mood.updated_at | date: 'h:mma'}}
      </div>
    </div>

    <p>Did any of your favorite activities help? Select All That Apply</p>

      <ion-checkbox ng-repeat="activity in activities" ng-model="activity.checked" value="{{activity}}">{{activity.activity}}</ion-checkbox>
      <button class="button" ng-click="save(activities)">submit</button>

      <button class="button" ng-click="openActivityModal()">If not, input new activity</button>

      <a class="button" href="#/tab/dash">Home</a>

  </ion-content>
</ion-view>
