<ion-view>
  <ion-content class="padding setup">
    <h3 class="title">SIGNUP</h3>
    <p class="error"> {{error}} </p>
    <a href="#/login">Log In</a>
    <form name="signUp" ng-submit="submitSignUp(newUser)">

      <div class="list">
        <label class="item item-input">
        <input type="text" name="firstName" class="form-control" ng-model="newUser.firstName" ng-minlength="2" ng-maxlength="30" ng-required="true" placeholder="First Name">
      </label>

        <label class="item item-input">
        <input type="text" name="lastName" class="form-control" ng-model="newUser.lastName" ng-minlength="2" ng-maxlength="30" ng-required="true" placeholder="Last Name">
      </label>

        <label class="item item-input">
        <input type="email" name="email" class="form-control" ng-model="newUser.email" ng-minlength="2" ng-maxlength="30" ng-required="true" placeholder="Email">
      </label>

        <label class="item item-input">
        <input type="password" name="password" class="form-control" ng-model="newUser.password" ng-minlength="2" ng-maxlength="100" ng-required="true" placeholder="Password">
      </label>
        <br>
        <p>What are you 3 favorite activities to relax?</p>
        <label class="item item-input">
        <input type="text" name="activity1" class="form-control" ng-model="newUser.activity1" ng-minlength="2" ng-maxlength="100" ng-required="true" placeholder="Swimming">
      </label>

        <label class="item item-input">
        <input type="text" name="activity2" class="form-control" ng-model="newUser.activity2" ng-minlength="2" ng-maxlength="100" ng-required="true" placeholder="Coloring">
      </label>

        <label class="item item-input">
          <input type="text" name="activity3" class="form-control" ng-model="newUser.activity3" ng-minlength="2" ng-maxlength="100" ng-required="true" placeholder="Yoga">
      </label>
      </div>
      <button type="submit" class="button button-block" ng-disabled="signUp.$invalid">Submit</button>
    </form>
  </ion-content>
</ion-view>
