<ion-modal-view>
  <ion-content class="padding setup">
    <h3 id="suggestion">Try One of These Activities:</h3>

      <ul class="list" ng-repeat="activity in activities | orderBy: '-weight' | limitTo:3">
        <li class="item capitalize">
        {{activity.activity}}
      </li>
    </ul>

        <h5>We hope you feel better soon.</h5>
        <p>We'll follow up with you tonight.</p>

      <button class="button icon icon-left ion-ios-close-outline"
         ng-click="closeModal()">Close</button>

</ion-content>
</ion-modal-view>
