<ion-view>
  <ion-content class="padding" id="check">

    <p>We noticed you had some negative feelings today at:</p>

    <ul class="list" ng-repeat="mood in moods">
      <li class="item capitalize">
        {{mood.updated_at | date: 'h:mma'}}
      </li>
    </ul>
    </div>

    <p>Did any of your favorite activities help?</p>

    <ion-checkbox ng-repeat="activity in activities | orderBy: '-weight' | limitTo:3" ng-model="activity.checked" value="{{activity}}" class="capitalize">{{activity.activity}}</ion-checkbox>

    <br>
      <a class="button button-block button-positive" ng-click="save(activities)">Submit</a>
      <a class="button button-block button-positive" ng-click="openActivityModal()">Add New Activity</a>
      <button class="button icon icon-left ion-ios-close-outline" href="#/tab/dash">Close</button>

  </ion-content>
</ion-view>
