<ion-view>
  <ion-content class="padding" id="dash">
    <h3 class="title">Welcome, {{user.firstName}}.</h3>

    <zingchart id="dayChart" zc-json="myJson" zc-height=300 zc-width=350></zingchart>

    <div class="button-bar" id="buttons">
      <a class="button button-positive" ng-click=setChartScope("day")>Today</a>
      <a class="button button-positive" ng-click=setChartScope("week")>Week</a>
      <a class="button button-positive" ng-click=setChartScope("year")>Year</a>
    </div>

  </ion-content>
</ion-view>
