<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Mood Tab -->
  <ion-tab title="Mood" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/mood">
    <ion-nav-view name="tab-mood"></ion-nav-view>
  </ion-tab>

  <!-- Check-In Tab -->
  <ion-tab title="Check-In" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>




</ion-tabs>
